{
  "log": {
    "_recordingName": "ServicesClient-pagination",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "0ded2931440ead8b2d3dfc4a8ef3bc21",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://api.bugcrowd.com/bounties?limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2797,
            "text": "{\"bounties\":[{\"bounty_type\":\"ongoing\",\"code\":\"j1dev2-5tb7n\",\"custom_field_labels\":[],\"description_markdown\":\"Our company recognizes the importance of security, privacy and community, and values the input of hackers acting in good-faith to help us maintain a high standard for our users. This includes encouraging responsible vulnerability research and the disclosure of security vulnerabilities.\\r\\n\",\"ends_at\":\"2024-01-01T00:00:00.000Z\",\"low_reward\":0,\"high_reward\":0,\"name\":\"j1dev-2\",\"participation\":\"secret\",\"points_only\":true,\"starts_at\":\"2024-01-01T00:00:00.000Z\",\"targets_overview_markdown\":\"Testing is only authorized on the targets listed as in scope. Any domain/property of {company} not listed in the targets section is out of scope. This includes any/all subdomains not listed above. If you happen to identify a security vulnerability on a target that is not in scope, but it demonstrably belongs to {company}, you can report it to [LOCATION; email/ESF/whatever]. However, be aware that it is ineligible for rewards or points-based compensation.\\n\\n-----\\n##Target Information:\\n--[...]
